
.fade-in-row {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.remove-btn:hover {
  transition: transform 0.2s ease;
  transform: scale(1.1);
  color: darkred;
}

.audio-control-icon {
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.audio-control-icon:hover {
  transform: scale(1.2);
  color: #007bff;
}
